@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

    font-family: Roboto;
}

body {
    overflow-x: hidden;
    background: #3498db;
    color:white;
}
.btn {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border-style: solid;
    background-color: #d0f3e8;
    border-color: #d0f3e8;
    margin: 0 3px;
}
.addGameForm{
    display: inline-flex;
    flex-direction: column;
}

#login-button{
    color: white;
    height:100px;
    background-color: teal; /* Red */
    border-radius: 4px;
    border: none;
    border: 2px solid white ;
    font-size:1.3em;
    margin-top:10px;
}

#login-button:hover{
    border: 2px solid #303F9F;
    background-color: white; /* Green */
    color: #303F9F;

}

#logout-button{
    width:100px;
    margin-top:10px;
    padding: 10px 15px;
    color: white;
    background-color: #e74c3c; /* Red */
    border-radius: 4px;
    border: none;
    font-size: 110%;
    border: 2px solid #e74c3c ;
    margin-left:20%;

}

#logout-button:hover{
    border: 2px solid #e74c3c ;
    background-color: white; /* Green */
    color: #e74c3c;
}


.login-form-wrapper{
    display: inline-flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:80px;
    width:250px;

}


.login-page-wrapper {
    padding-top:90px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3498db;
    width:100%;
    height:100%;
}

.login-page-wrapper .taki-logo {
    width: 250px;
    margin: 16px 0;
}

.login-page-wrapper .username-label {
    margin: 0 5px;    
    font-size: 18px;
}

.login-page-wrapper .username-input {    
    font-size: 16px;
    line-height: 16px;
    margin: 1px;
    border: 1px solid #ccc;   
}

.login-page-wrapper .submit-btn:hover {
    background-color: #cadcff;
    border-color: #cadcff;
}

.login-page-wrapper {
    color: red;
    font-weight: 600;

}
.add-game-error-message{
position: relative;
top: -97%;
}

.login-error-message-duplicate-name{
 font-size:1.3em;
}