@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

    font-family: Roboto;
}

body {
    overflow-x: hidden;
    background: #3498db;
    color:white;
}
.btn {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border-style: solid;
    background-color: #d0f3e8;
    border-color: #d0f3e8;
    margin: 0 3px;
}
.addGameForm{
    display: inline-flex;
    flex-direction: column;
}

#login-button{
    color: white;
    background-color: #303F9F; /* Red */
    border-radius: 4px;
    border: none;
    border: 2px solid #303F9F ;
    font-size:200%;
    margin-top:10px;
}

#login-button:hover{
    border: 2px solid #303F9F;
    background-color: white; /* Green */
    color: #303F9F;

}

#logout-button{
    width:100px;
    margin-top:10px;
    padding: 10px 15px;
    color: white;
    background-color: #e74c3c; /* Red */
    border-radius: 4px;
    border: none;
    font-size: 110%;
    border: 2px solid #e74c3c ;
}

#logout-button:hover{
    border: 2px solid #e74c3c ;
    background-color: white; /* Green */
    color: #e74c3c;
}


.login-form-wrapper{
    display: inline-flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:80px;
    width:250px;

}

.chat-base-container{
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.chat-base-container .user-info-area {
    display:flex;
    flex-direction: column;
    margin: 8px;
    font-size: 16px;
}

.login-page-wrapper {
    padding-top:90px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #3498db;
    width:100%;
    height:100%;
}

.login-page-wrapper .taki-logo {
    width: 250px;
    margin: 16px 0;
}

.login-page-wrapper .username-label {
    margin: 0 5px;    
    font-size: 18px;
}

.login-page-wrapper .username-input {    
    font-size: 16px;
    line-height: 16px;
    margin: 1px;
    border: 1px solid #ccc;   
}

.login-page-wrapper .submit-btn:hover {
    background-color: #cadcff;
    border-color: #cadcff;
}

.login-page-wrapper .login-error-message {
    color: red;
    font-weight: 600;
}

.chat-contaier {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-contaier .converssion-area-wrpper {
    flex-grow: 1;
    border: 1px solid #ccc;
    margin: 3px;
    padding: 8px;
}

.chat-contaier .converssion-area-wrpper p{
    margin: 0 0 8px 0;
}

.chat-contaier .chat-input-wrapper {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
}

.chat-contaier .chat-input-wrapper input{
    line-height: 16px;
    font-size: 16px;
    margin: 1px;
    height: 48px;
    padding: 8px;
    box-sizing: border-box;
    flex-grow: 1;
}

.chat-contaier .chat-input-wrapper .btn {
    flex-grow: 0;
    width: 88px;
    margin: 0 2px 0 5px;
}
